* {
  box-sizing: border-box;
}

ul {
    list-style: none;
}

div.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
    font-weight: bolder;
    color: #7B21AF;
}

