* {
  box-sizing: border-box;
}

ul {
    list-style: none;
}

div.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    height: 100%;
}
